In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
data = pd.read_excel('select.xlsx',sheet_name='Sheet1',header=None)
data

            0   1         2         3
0    2.333333 NaN  0.500000  0.500000
1    2.166667 NaN  0.200000  0.800000
2    2.600000 NaN  0.666667  0.333333
3    1.833333 NaN  0.600000  0.400000
4    2.400000 NaN  0.666667  0.333333
..        ...  ..       ...       ...
122  4.000000 NaN  1.000000  0.000000
123  4.181818 NaN  0.833333  0.166667
124  3.166667 NaN  1.000000  0.000000
125  5.000000 NaN  0.827586  0.172414
126  3.620690 NaN  0.866667  0.133333

[127 rows x 4 columns]

In [36]:
ls=[]
for i in range(0,127):
    ls.append(i)
ls

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126]

In [43]:
data1=list(data[0]/5)
# data1
data2 = list(data[2])
data2
# plt.plot(ls,data1)
# plt.plot(ls,data2,color='black')

[0.5,
 0.2,
 0.666666666666667,
 0.6,
 0.666666666666667,
 0.8,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.947368421052632,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.886075949367089,
 0.950920245398773,
 0.956521739130435,
 0.8,
 1.0,
 1.0,
 0.944444444444444,
 0.956521739130435,
 0.941176470588235,
 0.962962962962963,
 0.927536231884058,
 0.875,
 0.91,
 0.866666666666667,
 0.953488372093023,
 0.924528301886793,
 0.808510638297872,
 0.928571428571429,
 0.823529411764706,
 0.25,
 1.0,
 0.5,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.923076923076923,
 0.866666666666667,
 0.909090909090909,
 0.888888888888889,
 1.0,
 0.9,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.833333333333333,
 1.0,
 0.9,
 1.0,
 0.916666666666667,
 1.0,
 0.962962962962963,
 0.857142857142857,
 0.939597315436242,
 0.945205479452055,
 0.0,
 0.0,
 1.0,
 0.857142857142857,
 1.0,
 0.882352941176471,
 0.975,
 0.826086956521739,
 0.969230769230769,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.25,
 0.5,
 0.0,
 0.0,
 0.666666666666667,
 0.375,
 0.333333333333333,
 0.4375,
 0.7,
 0.791666666666667,
 0.948717948717949,
 1.0,
 0.4,
 0.5,
 0.5,
 0.5,
 0.0,
 0.5,
 0.0,
 0.666666666666667,
 1.0,
 0.571428571428571,
 0.0,
 1.0,
 1.0,
 0.833333333333333,
 1.0,
 0.827586206896552,
 0.866666666666667]